extends _layout
include /_mixins/_header

block header
  +header

block content
  .row.px-5
    .col-5
        a(href='/buy/topics' style="width: 100%").btn.btn-primary Buy 
    .col-2
    .col-5
        a(href='/sell' style="width: 100%").btn.btn-info Sell 