extends ../_layout
include /_mixins/_header
include /_mixins/_item

block header
  +header

block content
  if message 
    h2= message
  else
    .content(style="display: flex; flex-wrap: wrap;")
      if cart
        for item in items
          for Obj in cartObj
            if (Obj.id == item._id) 
              +item(item, Obj.qua)
      if wishlist 
        for item in items
          +item(item)