extends ../_layout
include /_mixins/_header

block header
  +header

block content
  .conteiner
    .row
      .col
        img.img-thumbnail.w-1.h-1(src=user.userImg, alt='profile pic')
      .col-8
        .row
          .col
            p= user.email
          .col
            a(href='/user/logout').btn.btn-danger LOGOUT
        hr
        .row
          .col
            p User's selling is a page where you can find what you are selling
            a.btn.btn-primary(href='/user/selling') User's selling
          .col
            p User's cart is your cart. In fact you need buy all stuf in your cart cause you realy need it. Let's do it
            a.btn.btn-primary(href='/user/cart') User's cart
          .col
            p User's wish list is some kind of mistake. Let's add all this stuf to your cart
            a.m-1.btn.btn-primary(href='/user/wishlist') User's wishlist
            a.m-1.btn.btn-primary(href='#') Add all stuf to cart