extends ../_layout
include ../_mixins/_header
include ../_mixins/_topicCard
include ../_mixins/_item
include ../_mixins/nav

block header
  +header

block content
  +nav

  for topic in topics 
    +topicCard(topic)

  hr

  .content(style="display: flex; flex-wrap: wrap;")
    for item in items
      +item(item)
