mixin header
  header.row.pt-2
    .col
      if user
        p.text-center
          a(href=`/user/profile`).text-muted= `Hello ${user.email}`
      else
        p.text-center
          a(href='/user/login') Login please
    .col-6
      h4.text-center= title
    .col
      p.text-center
          a(href='/user/cart').text-muted Cart
  hr.m-0
  .row.py-2
    .col
        a(href='/').text-muted
          h5.text-center eShop
    .col-7
      form(action="")    
        .input-group.mb-3
          input.form-control(type='text', placeholder="Find some vinyl", aria-label="Recipient's username", aria-describedby='basic-addon2')
          .input-group-append
            button.btn.btn-primary(type='button') Search
  hr.m-0.pb-2