mixin nav() 
  ul.nav.nav-pills
    li.nav-item
      a.nav-link(href='/buy' class={ 'active': isTopic }) Topics
    li.nav-item
      a.nav-link(href='/buy/new' class={ 'active': isNew }) New
    li.nav-item
      a.nav-link(href='/buy/top' class={ 'active': isTop }) Top
    li.nav-item
      a.nav-link(href='/buy/sale' class={ 'active': isSale }) Sale
    li.nav-item
      a.nav-link(href='/buy/secondhand' class={ 'active': isSecondHand }) Second Hand