mixin nav() 
  ul.nav
    li.nav-item
      a.nav-link.active(href='/b') Topics
    li.nav-item
      a.nav-link(href='/b/new') New
    li.nav-item
      a.nav-link(href='/b/top') Top
    li.nav-item
      a.nav-link(href='/b/sale') Sale